apiVersion: v1
kind: Secret
metadata:
  name: ota-secrets
type: Opaque
stringData:
  MINIO_ACCESS_KEY: "minioadmin"
  MINIO_SECRET_KEY: "minioadmin"
  INFLUX_TOKEN: "your-influx-token"
  MONGO_URI: "mongodb://mongodb:27017"
  ELASTICSEARCH_USERNAME: ""
  ELASTICSEARCH_PASSWORD: ""

